*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    text-align: center;
    background-color:#EFEFEF;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrapper{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.app {
    width: 300vw;

    transition: 0.4s;
}


/*-----------------------
	Modes
-----------------------*/

.switch-clocks{
    transition:background-color 0.4s;
    cursor:default;
}

html.alarm-mode .switch-clocks{
    background-color: #E91E63;
}

html.alarm-mode header .alarm,
html.stopwatch-mode header .stopwatch,
html.timer-mode header .timer{
    background-color:rgba(255,255,255,0.2);
    pointer-events:none;
}

html.stopwatch-mode .switch-clocks{
    background-color: #607D8B;
}

html.timer-mode .switch-clocks{
    background-color: #00ACC1;
}

.switch-clocks a{
    color:#fff;
    padding:30px 40px;
}

html.alarm-mode .app{
    transform: translate(0);
    -webkit-transform: translate(0);
}

html.stopwatch-mode .app{
    transform: translate(-100vw);
    -webkit-transform: translate(-100vw);
}

html.timer-mode .app{
    transform: translate(-200vw);
    -webkit-transform: translate(-200vw);
}


/*-----------------------
	Clocks General
-----------------------*/

.container {
    position: relative;
    float: left;
    width: 100vw;
    max-width: none; /* canceling auto styles from materialize.css */
}

form{
    width: 100%;
    height: 85px;
    padding: 10px;
    margin: 50px auto;
    color: #FF5722;
    border-radius: 2px;

}

form a{
    margin: 0 5px;
}

.control{
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}

.input-field{
    display: inline-block;
    padding-right: 20px;
}

.checkbox{
    padding-left: 20px;
}

.clock {
    position: relative;
    height: 300px;
    max-width: 700px;
    width: 100%;
    display: block;
    margin: 1px auto 70px auto;

    font-size: 150px;
    color: #ff5722;
    text-align: center;
    line-height: 300px;

    background-color: #fff;
    border-radius: 2px;

    transition: all 0.4s ease-in, box-shadow 0.2s;
}

.clock.inactive {
    color: #9e9e9e;
}

.clock .overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.switch label .lever:after{
    background-color:#fff;
}

/*-----------------------
	Timer
-----------------------*/

#timer-input {
    font-size: 32px;
    text-align: center;
}

.timer-btn{
    font-size: 32px;
    cursor: pointer;
}

/*-----------------------
	Modals
-----------------------*/

.modal{
    width: 40%;
}

.dismiss-alarm-sounds{
    float:none !important;
}

/*-----------------------
	Responsiveness
-----------------------*/

@media (max-width: 800px){

    .switch-clocks a{
        padding: 20px;
    }

    form{
        height: auto;
        padding: 10px;
        margin: 10px auto;
    }

    .checkbox{
        padding-left: 0;
        display: none;
    }

    .clock{
        font-size: 60px;
        height: 180px;
        line-height: 180px;
        margin-top:20px;
    }

    .stopwatch form a{
        padding: 0 1rem;
    }

    .modal{
        width: 80%;
    }

}

/* ------- Demo footer. Please ignore and remove ------- */

footer {
    font: normal 16px Arial, Helvetica, sans-serif;
    padding: 15px 35px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1B1F22;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

footer a.tz{
    font-weight: normal;
    font-size: 16px !important;
    text-decoration: none !important;
    display: block;
    margin-right: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #CCC !important;
    position: relative;
    padding-left: 140px;
}

footer a.tz:before{
    font-weight: bold;
    color: #FFF;
    content: 'tutorial';
    position: absolute;
    text-align: right;
    width: 100px;
    left: -20px;
}

footer a.tz:after{
    content: 'zine';
    position: absolute;
    font-weight: bold;
    color: #DA431C;
    left: 80px;
}

footer .close{
    position: absolute;
    cursor: pointer;
    width: 8px;
    height: 8px;
    top: 10px;
    right: 12px;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}

footer #tzine-actions{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 340px;
    text-align: right;
}

footer #tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
}

@media (max-width: 1024px) {
    #bsaHolder, footer{ display:none;}
}

.bg-problem-card {
    background: #ff5722;
}

.bg-green {
    background: #52B266;
}

.bg-cyan {
    background: #00838F;
}

/* Chips */
.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}
.chip.chip-md img {
    height: 42px;
    width: 42px;
}
.chip.chip-md .close {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}
.chip.font-chips {
    font-size: 20px;
}

.chip.font-chip-center{
    font-size: 40px;
}

.chip.chip-lg {
    height: 70px;
    line-height: 70px;
    border-radius: 35px;
}
.chip.chip-lg img {
    height: 70px;
    width: 70px;
}
.chip.chip-lg .close {
    height: 70px;
    line-height: 70px;
    border-radius: 35px;
}
